<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>GitPub Food</title>
    <style type="text/css">
        body {
          color: blanchedalmond;
          background-color: steelblue;
        }
      </style>
    
  </head>
  <body>
    <h1>Food show page</h1>
    The name of this Food is <%= food.name %>
    <br>
    <a href="/food/<%=index%>">
        <img src="<%= food.image%>">
    </a><br>
    Price: $<%= food.price %>
    <br>
    <a href="/foods">Back to foods</a>
  </body>
</html>